In [ ]:
# Q1. Create a python program to sort the given list of tuples based on integer value using a lambda function.
# [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [1]:
l = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [2]:
s = sorted(l)

In [ ]:
s

[('Jack Kallis', 25534),
 ('Ricky Ponting', 27483),
 ('Sachin Tendulkar', 34357),
 ('Virat Kohli', 24936)]

In [4]:
# Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using lambda and map functions.
# [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
p =  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
a = list(map(lambda x: x**2, p))

In [14]:
a

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [16]:
# Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and lambda functions
# Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [20]:
str1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [48]:
l = tuple(map(lambda x: str(x), str1)) #this is giving error sir...can't understand why..!! So I tried another way of doing it below..

TypeError: 'list' object is not callable

In [49]:
l = tuple(map(lambda x: '{}'.format(x), str1)) #it works sir..!!

In [50]:
l

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [51]:
# Q4. Write a python program using reduce function to compute the product of a list containing numbers from 1 to 25.

In [52]:
from functools import reduce
l = []
for  i in range(1,26):
    l.append(i)
result = reduce(lambda x,y: x*y, l)

In [53]:
result

15511210043330985984000000

In [56]:
# Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the filter function.
# [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [4]:
l = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [60]:
result = list(filter(lambda x: x%6==0, l))

In [61]:
result

[6, 60, 90, 120]

In [1]:
# Q6. Write a python program to find palindromes in the given list of strings using lambda and filter function.
# ['python', 'php', 'aba', 'radar', 'level']

In [3]:
s = ['python', 'php', 'aba', 'radar', 'level']

In [20]:
result = list(filter(lambda x: x==x[::-1], s))

In [21]:
result

['level', 'radar', 'aba', 'php']